.container {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  border-radius: 10px;
  box-shadow: 0 20px 20px 0 #18509f;
  padding: 18px 24px;
  max-width: 345px;
  margin-bottom: 20px;
  background-color: rgba(88, 99, 125, 0.875);
}

.title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 14px;
}

.descriptions {
  width: 100%;
  list-style: disc; /* Bullet points */
  margin: 10px 0;
  padding-left: 20px;
}

.descriptionItem {
  font-size: 18px;
  margin-bottom: 5px; /* Add space between bullet points */
}

.keywords {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.keyword {
  background-color: #a9adc7;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
}

.links {
  margin-top: 20px;
}

.link {
  text-decoration: none;
  color: #fff;
  background-color: #4a90e2;
  padding: 8px 15px;
  border-radius: 8px;
  font-weight: 600;
}


