.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
  margin-top: 30px;
}

.heroSection {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  margin-bottom: 20px;
}

.title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  font-size: 20px;
  margin-bottom: 20px;
}

.links {
  display: flex;
  gap: 15px;
}

.links a img {
  width: 30px;
  height: 30px;
}

.heroImg {
  width: 200px;
  height: auto;
  border-radius: 15px;
}

.skillsSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.skillsTitle {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillImageContainer {
  width: 80px;
  height: 80px;
  /* background-color: #eee;  */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.skillImageContainer img {
  width: 60%;
}

.skill p {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

/* Add this to your CSS */
@keyframes bounceSlow {
  0% {
    transform: translateY(0); /* Start at the original position */
  }
  50% {
    transform: translateY(-15px); /* Move up */
  }
  100% {
    transform: translateY(0); /* Return to the original position */
  }
}

.skillImageContainer img {
  width: 80%;
  animation: bounceSlow 3s ease-in-out infinite; /* Slow and continuous bounce */
}

