@import "../../vars.css";

.container {
  position: relative;
  background-color: rgba(12, 12, 12, 0.6);
  border-radius: 15px;
  padding: 73px;
  margin-top: 129px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aboutImage {
  width: 35%;
}

.aboutItems {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.aboutItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 60px;
  list-style: none;
  padding: 25px;
  background-image: linear-gradient(
    90deg,
    rgba(165, 215, 232, 0.42) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.7s;
  gap: 10px
}

.aboutItem:hover {
  background-size: 100% 100%;
}

.aboutItem h3 {
  font-size: 20px;
  font-weight: 600;
}

.aboutItem p {
  font-size: 25px;
}

@media screen and (max-width: 830px) {
  .container {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
  }

  .content {
    flex-direction: column;
  }

  .aboutImage {
    display: none;
  }

  .aboutItems {
    margin-top: 29px;
  }

  .aboutItem {
    padding-left: 0;
    padding-right: 0;
  }
}
.experienceItem {
  margin-bottom: 20px;
}

.experienceItemh3 {
  font-size: 10%; /* Make the title larger */margin-bottom: 5px;
}

.experienceItemp.position {
  font-size: 1.2em; /* Make the position smaller */margin-bottom: 5px;
  font-weight: bold;
}

.experienceItema {
  font-size: 1em; /* Make the link smaller */color: #6366f1; /* Ensure the link has a distinct color */display: block;
  margin-top: 5px;
  text-decoration: none;
}

.experienceItema:hover {
  text-decoration: underline;
}

.experienceItemul {
  margin-top: 10px;
  list-style-type: disc;
  padding-left: 20px;
}

.experienceItemulli {
  margin-bottom: 5px;
}
